---
# Don't remove this section
# This Frontmatter section enables Liquid syntax below
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Elisha Tan - Singaporean Comedian in the Bay</title>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="stylesheet" href="assets/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap"
    />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="https://www.elishatan.com/" />
    <meta property="og:title" content="Elisha Tan" />
    <meta
      property="og:description"
      content="Elisha Tan is a Singaporean Comedian based in the Bay who has performed at Cobb's Comedy Club, Laugh Factory, Punch Line San Francisco and across the USA, Europe, and Singapore."
    />
    <meta
      property="og:image"
      content="https://www.elishatan.com/assets/og-image.jpg"
    />
  </head>
  <body>
    <nav class="nav-links">
      <a href="#bio">bio</a>
      <a href="#shows">shows</a>
      <a href="#videos">videos</a>
    </nav>
    <div class="masthead">
      <h1 class="name">Elisha Tan</h1>
      <img class="nice-photo" alt="" src="assets/elisha-tan-2@2x.png" />
    </div>
    <div class="cta-bar">
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScQ1w5cjz_rY39UIhzlY6j4HML6e_8acV3GH63KDG3tGTK_9A/viewform"
        class="cta-button"
      >
        Join my <span class="ib">mailing list</span> for unpublished clips!
      </a>
    </div>
    <div class="content">
      <h2 id="bio" class="tagline">
        <span class="flag-bg">Singaporean</span>
        <span class="ib">Comedy in the Bay</span>
      </h2>
      <div class="intro">
        <p>
          <b>Elisha Tan</b> is a Singaporean comedian based in San Francisco Bay Area, California, who made history as the first Singaporean to headline the iconic <b>Punch Line San Francisco</b>. Known for her quick wit and infectious energy, Elisha transforms the challenges of navigating a new culture and society’s expectations of women into relatable, hilarious stories.
        </p>
        <p>
          Elisha's comedy journey has taken her all over the world, including the USA, Singapore, Germany, Ireland, and the UK. She has lit up the stages of world-renowned clubs like the <b>Laugh Factory, Cobb’s Comedy Club, and Comedy Crunch (Dublin)</b> and prestigious festivals like the Detroit Women of Comedy Festival, Loons on the Lake Comedy Festival, and the Golden Laughs Comedy Festival.
        </p>
        <p>
          When she’s not on stage, Elisha runs
          <a href="https://www.averagefoundation.com/" target="_blank"
            >Average Foundation</a
          >, a community fund supporting small social impact projects, and produces the <b>Good Giggles</b> comedy show to raise funds for local non-profits. Approachable, fun, and always up for snacks, Elisha is on a mission to spread positivity through laughter. 
        </p>
        <p>
          Download her
          <a href="https://bit.ly/elishamediakit" target="_blank"
            >media kit (headshots and bio) here</a
          >.
        </p>
      </div>
      <div class="socials">
        <a href="https://instagram.com/elishatan" target="_blank">
          <img alt="Instagram" src="assets/instagram.svg" />
        </a>
        <a href="https://www.youtube.com/@ElishaTan" target="_blank">
          <img alt="Youtube" src="assets/youtube.svg" />
        </a>
        <a href="https://www.tiktok.com/@shacomedy_" target="_blank">
          <img alt="TikTok" src="assets/tiktok.svg" />
        </a>
        <a href="mailto:bookelishatan@gmail.com">
          <img alt="E-mail" src="assets/mail.svg" />
        </a>
      </div>

      <h2 id="shows">Shows</h2>
      <div class="shows-list">
        {% for show in site.data.shows %}
        <div class="show">
          <p>
            <b>{{ show.city }}</b><br />
            {{ show.datetime }}<br />
            {{ show.place }}
          </p>
          {% if show.link %}
          <a href="{{ show.link }}" class="ticket-button" target="_blank">
            <b class="tickets">Tickets</b>
          </a>
          {% else %} <span class="no-ticket">Free, just show up!</span> {% endif %}
        </div>
        {% endfor %}
      </div>
      <div id="cta-short-bar">
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLScQ1w5cjz_rY39UIhzlY6j4HML6e_8acV3GH63KDG3tGTK_9A/viewform"
          class="cta-button"
        >
          Want me to perform in your city? <br />
          Join <span class="ib">my mailing list</span>!
        </a>
      </div>
      <h2>Book me</h2>
      <div class="intro">
        <p>
          Make your day a little brighter by booking me for shows and
          collaborations! Please get in touch by emailing me at
          <b
            ><a href="mailto:bookelishatan@gmail.com"
              >bookelishatan@gmail.com</a
            ></b
          >.
        </p>
        <p>Looking forward to working together!</p>
        <!-- <iframe
          class="iframe-form"
          src="https://docs.google.com/forms/d/e/1FAIpQLScQ1w5cjz_rY39UIhzlY6j4HML6e_8acV3GH63KDG3tGTK_9A/viewform?embedded=true"
          width="640"
          height="800"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          loading="lazy"
        ></iframe> -->
      </div>
      <h2 id="videos">Videos</h2>
    </div>
    <div class="videos">
      {% for reel in site.data.reels %}
      <blockquote
        class="instagram-media"
        data-instgrm-permalink="{{ reel }}"
        data-instgrm-version="14"
      ></blockquote>
      {% endfor %}
      <a href="https://www.instagram.com/elishatan" class="videos-more">More</a>
    </div>
    <!-- div class="cta-bar">
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScQ1w5cjz_rY39UIhzlY6j4HML6e_8acV3GH63KDG3tGTK_9A/viewform"
        class="cta-button"
      >
        Sign up for <span class="ib">my mailing list</span>
      </a>
    </div> -->
    <div class="content">
      <div class="socials">
        <a href="https://instagram.com/elishatan" target="_blank">
          <img alt="Instagram" src="assets/instagram.svg" />
        </a>
        <a href="https://www.youtube.com/@ElishaTan" target="_blank">
          <img alt="Youtube" src="assets/youtube.svg" />
        </a>
        <a href="https://www.tiktok.com/@shacomedy_" target="_blank">
          <img alt="TikTok" src="assets/tiktok.svg" />
        </a>
        <a href="mailto:bookelishatan@gmail.com">
          <img alt="E-mail" src="assets/mail.svg" />
        </a>
      </div>
    </div>
    <script
      async
      defer
      fetchpriority="low"
      src="https://www.instagram.com/embed.js"
    ></script>
  </body>
</html>
